/* Global setting */
:root {
    --color-hover: rgb(255, 70, 70);
    --border--color: #ebebeb;
    --box-shadow-around: 0 0 5px 5px rgba(0, 0, 0, 0.07);
}

* {
    font-family: 'Trispace', sans-serif;
    color: #111111;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    border: 0;
}

/* Animation */
@keyframes showup {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.5;
    }
}

/* TOP PAGE */
.max-width {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.border__container {
    border-bottom: solid 0.5px var(--border--color);
}

.top {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.top__left {
    font-size: 0.9rem;
}

.top__right {
    display: flex;
    justify-content: space-around;
    width: 3rem;
    height: 2rem;
    align-items: center;
    border-left: solid 0.5px var(--border-color);
    padding-left: 0.8rem;
}

.right__icon {
    color: #b6b6b6;
}

/* NAVBAR */
.header__main {
    background-color: rgb(245, 245, 245);
}

.header__navbar {
    display: flex;
    font-size: 1.4rem;
    height: 6rem;
    align-items: center;
    padding: 0 1rem;
}

.header__name {
    flex-grow: 1;
    font-weight: bold;
    font-size: 2.5rem;
}

.header__nav {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-grow: 4;
    justify-content: space-between;
}

.header__nav-item:hover .item__link {
    color: var(--color-hover);
}

/* Trong san pham */
.sanpham {
    cursor: pointer;
    position: relative;
}

.sanpham::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2.3rem;
    bottom: -34px;
}

.sanpham-category {
    width: 15rem;
    display: none;
    background-color: white;
    position: absolute;
    top: 2rem;
    left: -1.5rem;
    padding: 1rem 0;
    box-shadow: var(--box-shadow-around);
}

.sanpham-category__item {
    width: 100%;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: lighter;
}

.sanpham-category__item a {
    color: rgb(100, 100, 100);
    padding: 0 1.5rem;
}

.sanpham-category__item:hover {
    background-color: rgba(120, 136, 150, 0.109);
}

.sanpham-category::after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    border: solid 20px;
    border-color: transparent transparent white transparent;
    top: -35px;
    left: 35px;
}

.sanpham:hover .sanpham-category {
    display: block;
    z-index: 100;
}

/* Search va Cart login */
hr {
    padding: 0;
    margin: 0;
}

.header__user {
    display: flex;
    justify-content: space-around;
}

.user__auth {
    padding: 0 2rem;
    cursor: pointer;

}

.modal {
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal__form {
    border-radius: 5px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.07);
    padding: 4rem 2rem;
    width: 50%;
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin: 10% auto;
}

.modal__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}

.modal__login {
    margin-right: 2.5rem;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.modal__registration {
    margin-left: 2.5rem;
}

.modal__item label {
    font-size: 1.2rem;
    font-weight: bold;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
}

#formLogin {
    width: 100%;
}

#formReg {
    width: 100%;
}

.btn--login {
    position: absolute;
    right: 0;
    bottom: -2rem;
    width: 7rem;
    font-size: 1rem;
    font-weight: 100;
}

.user__auth:hover .auth__icon {
    color: var(--color-hover);
}

.user__search {
    position: relative;
    padding-right: 2rem;
}

.user__search:hover .search__icon {
    color: var(--color-hover);
}

.search__box {
    cursor: pointer;
    display: none;
    position: absolute;
    left: -170px;
    top: 35px;
    width: 15rem;
    height: 5rem;
    background-color: white;
    box-shadow: var(--box-shadow-around);
    border-radius: 0.3rem;
    z-index: 9;
}

.search__box::after {
    position: relative;
    display: block;
    content: "";
    width: 0;
    border: solid 20px;
    border-color: transparent transparent white transparent;
    top: -33px;
    left: 161px;
}

.search__input--hover {
    width: 10rem;
    height: 2rem;
    position: absolute;
    top: 28%;
    left: 8%;
    outline: none;
    border: solid 0.05px #b6b6b6;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.user__search:hover .search__box {
    display: block;
    animation: showup 0.2s ease-in;
}

.search__icon--input {
    color: white;
    font-size: 1.2rem;

}

.search__input--submit {
    position: absolute;
    right: 9.2%;
    top: 28%;
    width: 2.5rem;
    height: 2rem;
    border: 0;
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    cursor: pointer;
    outline: none;
    background-color: #111111;
}

.user__cart {
    position: relative;
}

.user__cart:hover .cart__icon {
    color: var(--color-hover);
    cursor: pointer;
}

.cart-item {
    display: none;
    position: absolute;
    box-shadow: var(--box-shadow-around);
    top: 35px;
    right: -5px;
    padding: 0.5rem 1rem;
    width: 20rem;
    background-color: white;
    border-radius: 5px;
    z-index: 100;
}

.cart-item::after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    border: solid 12px;
    border-color: transparent transparent white transparent;
    top: -20px;
    right: 5px;
}

.cart-item::before {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 1rem;
    top: -15px;
    right: 1px;
}

.user__cart:hover .cart-item {
    display: block;
    animation: showup 0.2s ease-in;

}

.cart-item__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px var(--border--color);
    padding-bottom: 0.5em;
    padding-top: 0.5rem;
}

.cart-item__img {
    width: 4rem;
    border: solid 0.1px var(--border--color);
}

.cart-item__info {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
}

.cart-item__info--name {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.cart-item__info--name:hover {
    color: red;
}

.cart-item__price-info {
    font-size: 1rem;

}

.cart-item__info--amount {
    color: gray;
}

.cart-item__info--price {
    color: rgb(255, 70, 70);
    font-weight: bold;
}

.cart-item__delete {
    border-radius: 50%;
    border: solid 3px gray;
    background-color: white;
    outline: none;
    cursor: pointer;
}

.cart-item__delete--icon {
    color: gray;
}

.cart-item__buy {
    padding: 1rem 0;
    align-items: center;
}

.buy-name {
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px var(--border--color);
    justify-content: space-around;
    color: gray;
}

.total {
    color: red;
    font-weight: bold;
}

.buy {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy__btn {
    width: 13rem;
    height: 2rem;
}


/* Container */
.container__top {
    max-width: 1200px;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}


.intro {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
}

.seperate {
    width: 20rem;
    height: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.seperate__left {
    width: 8rem;
    border-bottom: solid 3px black;
}

.seperate__logo {
    width: 3rem;
    height: 2rem;
    border: solid 1px black;
    border-radius: 50%;
}

.seperate__right {
    width: 8rem;
    border-bottom: solid 3px black;
}

/* Cac san pham */
.container__main {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding-bottom: 5rem;
}

.item {
    width: 100%;
}

.item__img-buy:hover .item__buy {
    display: block;
}

.item__img-buy {
    position: relative;
}

.item__img {
    border: solid 1px gray;
    width: 100%;
    height: 100%;
}

.item__buy {
    display: none;
    cursor: pointer;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 8rem;
    height: 3rem;
    animation: showup ease-in 0.2s;
}

.item__img-buy:hover .item__img {
    opacity: 0.4;
    animation: fadeout ease-in-out 0.2s;
}


.item__buy:active {
    transform: translateY(2px);

}

.item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
}

.item__info--name {
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
}

.item__info--name:hover {
    cursor: pointer;
    color: var(--color-hover);
}

.item__info--price {
    color: rgb(255, 70, 70);
    font-weight: bold;
}

.btn__more {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.btn--more {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: lighter;
}

.footer {
    margin-top: 5rem;
    border-top: solid 1px gray
}

/* banner */
.banner {
    display: flex;
    height: 30rem;
    position: relative;
    padding: 0;
    max-width: 1400px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.banner__btn {
    height: 10%;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.banner__icon {
    font-size: 2.5rem;
    position: absolute;
    z-index: 10;
}

.banner__icon.left {
    left: 3rem;
}

.banner__icon.right {
    right: 3rem;
}

.banner__icon.left:active {
    transform: translateY(2px);
}

.banner__icon.right:active {
    transform: translateY(2px);
}

.banner__img {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.banner-img {
    width: 100%;
}

footer {
    padding-top: 5rem;
}